name: Sync API definition & guides/reference to ReadMe

on:
  push:
    branches: [ "main" ]

jobs:
  sync:
    runs-on: ubuntu-latest
    environment: README 
    env:
      RDME_VERSION: v2.0_1   #  최종적으로 업로드할 ReadMe 브랜치 버전 지정
      RDME_API_KEY: ${{ secrets.README_API_KEY }}
      OAS_PATH: ./docs/petstore.json
      GUIDES_DIR: ./docs
      REF_DIR: ./reference
    steps:
      - uses: actions/checkout@v4

      # 1) OpenAPI 존재 여부 컴토
      - name: Validate OpenAPI
        uses: readmeio/rdme@v10
        with:
          rdme: >
            openapi validate ${{ env.OAS_PATH }}


      # 2) OpenAPI 업로드 
      - name: Upload OpenAPI to ReadMe
        uses: readmeio/rdme@v10
        with:
          rdme: >
            openapi upload ${{ env.OAS_PATH }}
            --key=${{ env.RDME_API_KEY }}
            --branch=${{ env.RDME_VERSION }}

      # 3) Guides 업로드
      - name: Upload Guides to ReadMe
        uses: readmeio/rdme@v10
        with:
          rdme: >
            docs upload ${{ env.GUIDES_DIR }}
            --key=${{ env.RDME_API_KEY }}
            --branch=${{ env.RDME_VERSION }}

      # 4) Reference 업로드
      - name: Upload Reference Markdown to ReadMe
        uses: readmeio/rdme@v10
        with:
          rdme: >
            reference upload ${{ env.REF_DIR }}
            --key=${{ env.RDME_API_KEY }}
            --branch=${{ env.RDME_VERSION }}